@liquid 

&nbsp;<br />
<p style="padding-bottom:10px !important; font-weight:bold; color: #000;">{{FirstName}}&nbsp;{{LastName}}<br />
<span style="font-weight: normal;">{{JobTitle}}</span></p>

{% if PartTimeDays == blank %}
{% else %}
<p style="padding-bottom:10px !important; color: #2ba9e0;">Please note I work part time {{PartTimeDays}}</p>
{% endif %}
<table width="320px" style="padding-bottom: 20px !important; width: 320px;">
	<tbody>
    {% if Phone == blank %}
        <tr style="padding: 1px !important;">
            <td width="10px" style="vertical-align: top; color: #2ba9e0;">
                p.
            </td>
            <td width="310px" style="color: #000;">
                <a href="tel:(02) 9287 1555" style="color: inherit !important; text-decoration: inherit !important;">(02) 9287 1555</a>
            </td>
        </tr>
    {% else %}
        <tr style="padding: 1px !important;">
            <td width="10px" style="vertical-align: top; color: #2ba9e0;">
                d.
            </td>
            <td width="310px" style="color: #000;">
                <a href="tel:{{Phone}}" style="color: inherit !important; text-decoration: inherit !important;">{{Phone}}</a>
            </td>
        </tr>
    {% endif %}
    {% if DirectPhone == blank %}
    {% else %}
        <tr style="padding: 1px !important;">
            <td width="10px" style="vertical-align: top; color: #2ba9e0;">
                d.
            </td>
            <td width="310px" style="color: #000;">
                <a href="tel:{{DirectPhone}}" style="color: inherit !important; text-decoration: inherit !important;">{{DirectPhone}}</a>
            </td>
        </tr>
    {% endif %} 
    {% if Mobile == blank %}{% else %}
        <tr style="padding: 1px !important;">
            <td width="10px" style="vertical-align: top; color: #2ba9e0;">
                m.
            </td>
            <td width="310px" style="color: #000;">
                <a href="tel:{{Mobile}}" style="color: inherit !important; text-decoration: inherit !important;">{{Mobile}}</a>
            </td>
        </tr>
    {% endif %}
        <tr style="padding: 1px !important;">
            <td width="10px" style="vertical-align: top; color: #2ba9e0;">
                p.
            </td>
            <td width="310px" style="color: #000;">
                PO Box 20768 World Square NSW 2002
            </td>
        </tr>
        <tr style="padding: 1px !important;">
            <td width="10px" style="vertical-align: top; color: #2ba9e0;">
                a.
            </td>
            <td width="310px" style="color: #000;">
                {{Street}} {{City}} {{State}} {{ZIP}}
            </td>
        </tr>
        <tr style="padding: 1px !important;">
            <td width="10px" style="vertical-align: top; color: #2ba9e0;">
                w.
            </td>
            <td width="310px" style="color: #000;">
                <a href="https://www.csnsw.catholic.edu.au/" style="color: inherit !important; text-decoration: inherit !important;" target="_blank">www.csnsw.catholic.edu.au</a>
            </td>
        </tr>
        <tr style="padding: 1px !important;">
            <td style="vertical-align:middle; padding-top: 20px; padding-bottom: 20px;" colspan="2">
                <a href="https://www.csnsw.catholic.edu.au"><img alt="Catholic Schools NSW Logo" border="0" height="100" src="/Images/Get/E4494/c9.png" width="220" /></a>
            </td>
        </tr>
    </tbody>
</table>
<p style="padding-bottom: 20px !important;"><a href="https://www.facebook.com/CatholicSchoolsNSW" target="_blank"><img alt="CSNSW Facebook Page" border="0" height="32" src="/Images/Get/E4494/f.png" width="32" /></a>&nbsp;<a href="https://twitter.com/CathSchoolsNSW"><img alt="CSNSW Twitter" border="0" height="32" src="/Images/Get/E4494/t.png" width="32" /></a>&nbsp;<a href="https://www.linkedin.com/company/catholic-schools-nsw/"><img alt="CSNSW LinkedIn" border="0" height="32" src="/Images/Get/E4494/l.png" width="32" /></a>&nbsp;<a href="https://www.youtube.com/channel/UCM1l2_XxyaYaRBqDMYygz3g"><img alt="CSNSW YouTube " border="0" height="32" src="/Images/Get/E4494/y.png" width="32" /></a></p>
<p style="color: #243a7a; font-weight: bold; padding-bottom: 20px !important;">We proudly support the 599 Catholic schools and 255,000 students in our care.</p>

{% if CustomFooter == blank %}
{% else %}
<p style="padding-bottom: 20px !important; font-size: 12px; color: #666;">{{CustomFooter}}</p>
{% endif %}